<h2>Page contact</h2>

{{formation}}


<h3>Liste des étudiants</h3>
<ul>
  <li *ngFor="let student of students">{{student|firstLettreUpperCase}}</li>
</ul>
Logo sesame :
<img [src]=srcImage/>
<h3>Les evenements</h3>
Nombre de click = {{nbreClick}}
<button class="btn btn-primary" (click)="incrementation()">Cliquer</button>
<h4 *ngIf="test==false">Les services Angular</h4>

<h3>Two way Data Binding</h3>
<input type="text"  [(ngModel)]="cours"/>
Votre cours est : {{cours}}
<h3>Template Driven Forms</h3>

<form #inscription="ngForm" (ngSubmit)="onSubmit(inscription)">
<label>Votre nom : </label><input type="text" name="nom" ngModel/>
<label>Votre école : </label><input type="text" name="ecole"  ngModel/>
<input type="submit" value="Ajouter" class="btn btn-success"/>
</form>

<h2 align="center">Ma calculatrice</h2>

<form align="center" #calculatrice="ngForm" (ngSubmit)="calcul(calculatrice)">
  <label>Taper x : </label><input type="number" name="x" ngModel/>
  <label>Taper y : </label><input type="number" name="y"  ngModel/>
  <input type="submit" value="Diviser" class="btn btn-success"/>

  Le résultat de la division est = {{resultat}}
  <div  *ngIf="divZero==true">
    <span class="badge badge-danger">Attention division par zéro!!</span>
    <img [src]="urlImageError" width="100px"/>
  </div>

  </form>

<table align="center" border="1" class="table">
  <tr><th>ID</th><th>Nom</th><th>Post</th></tr>
  <tr *ngFor="let etudiant of listStudents">
    <td>{{etudiant.id}}</td>
    <td>{{etudiant.nom}}</td>
    <td>{{etudiant.poste}}</td>
  </tr>
</table>
